<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-centered portfolio-item">
      <div class="card text-center">
        <div class="card-body">
          <h4 class="card-title">
            Image Upload
          </h4>
          <div class="img-custom">
            <img [src]="imageFile" class="card-img-top" alt="Image" />
          </div>

          <label class="custom-file my-5">
            <input type="file" id="file2" class="custom-file-input" (change)="imageUpload($event)" placeholder="Upload File" accept=".jpg,.png">
            <span class="custom-file-control"></span>
          </label>

          <div>
            <button (click)="predict()" type="button" class="btn btn-primary">
              Predict
            </button>
          </div>
          <p *ngIf="visible" class="card-text">The application predicts the digit to be: {{ digit }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
